.offer-details {
  display: flex;
  align-items: center;
}

.space-left {
  margin-left: 0.5rem;
}


h1 {
  font-size: 1.2rem;
  border: 1px solid var(--ion-color-primary);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--ion-color-primary);
}